<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>title</title>
    <script type="text/javascript" src="/js/jquery-3.3.1.min.js"></script>
    <style>
        .label {
            width: 100px;
            text-align: right;
            padding: 4px;
            display: inline-block;
        }

        pre{
            height:24px;
            line-height: 24px;
            margin:0;
            padding:0 8px;
        }
        .split{
            height: 1px;
            background: transparent;
        }

        .root{

            display: flex;
            flex-direction:row;
        }
        .root div{

        }

        .bg-blue{
            background: rgba(250,250,250,1);
        }
    </style>


</head>
<body>

<div class="root">
    <div style="background: white;width:100px;flex-grow:1;overflow: auto;border-right: 1px solid #eee">
        <div>
            <% for(var i=0;i<left.length;i++){ %>
            <pre class="<%if(left[i].type=='c' || left[i].type=='d' ){%>bg-blue<%}%>"><%=left[i].content%></pre>
            <div class="split <%if(left[i].type=='a'){%>bg-blue<%}%>"></div>
            <%}%>
        </div>
    </div>
    <div style="background: white;width:80px;flex-shrink:0">
        <canvas id="canvas" width="80" height="<%= right.length * 25%>"
                style="width:80px;height:<%= right.length * 25%>px;background: white"></canvas>
    </div>
    <div style="background: white;width:100px;flex-grow:1;overflow: auto;border-left: 1px solid #eee;">
        <div>
            <% for(var i=0;i<right.length;i++){ %>
            <pre class="<%if(right[i].type=='c' || right[i].type=='a'){%>bg-blue<%}%>"><%=right[i].content%></pre>
            <div class="split <%if(right[i].type=='d'){%>bg-blue<%}%>"></div>
            <%}%>
        </div>
    </div>
</div>
<script>
    var canvas=document.getElementById("canvas");
    var context=canvas.getContext("2d");
    //context.lineWidth = 1;
    //lineTo(context, 6, 4);
    //lineTo(context, 6, 7);

    var groups = <%-groups%>;

    for(var i=0;i<groups.length;i++){
        var group = groups[i];
        draw(context, 'rgba(250,250,250,1)', group.p1,group.p2,group.p3,group.p4);
    }

    
    function draw(ctx, color, line1, line2, line3, line4){
        var width = 80;
        var x1 = 0, y1 = (line1) * 25;
        var x2 = width, y2 = (line2) * 25;
        var x3 = width, y3 = line3 * 25;
 
        ctx.beginPath();
        ctx.moveTo(x1, y1);
        ctx.lineTo(x2, y2);
        ctx.lineTo(x3, y3);

        if(line4){
            ctx.lineTo(0, line4 * 25);
        }

        ctx['fillStyle'] = color;
        ctx.closePath();
        ctx['fill']();
    }

    

    function lineTo(context, left, righit){
        var fromY = left * 25;
        var toY = righit * 25;

        console.log('aaa', fromY, toY);
        context.moveTo(0, fromY);
        context.lineTo(80, toY);
        context.stroke();
    }
</script>

</body>
</html>
